In [1]:
import pandas as pd 
from sqlalchemy import create_engine

df = pd.read_csv('sample_sales.csv')
engine = create_engine('sqlite:///sample_sales.db', echo=False)
df.to_sql(name='sample_sales', con= engine)
sql = "select * from sample_sales limit 10"
df_sample = pd.read_sql(sql, engine)

ValueError: Table 'sample_sales' already exists.

In [3]:
df

,account number,name,sku,category,quantity,unit price,ext price,Tax rate,Tax amount,date
0,296809,Carroll PLC,QN-82852,Belt,13,44.48,578.24,0.070,40.47680,2014-09-27 07:13:03
1,98022,Heidenreich-Bosco,MJ-21460,Shoes,19,53.62,1018.78,0.070,71.31460,2014-07-29 02:10:44
2,563905,"Kerluke, Reilly and Bechtelar",AS-93055,Shirt,12,24.16,289.92,0.070,20.29440,2014-03-01 10:51:24
3,93356,Waters-Walker,AS-93055,Shirt,5,82.68,413.40,0.070,28.93800,2013-11-17 20:41:11
4,659366,Waelchi-Fahey,AS-93055,Shirt,18,99.64,1793.52,0.070,125.54640,2014-01-03 08:14:27
5,563905,"Kerluke, Reilly and Bechtelar",AS-93055,Shirt,17,52.82,897.94,0.070,62.85580,2013-12-04 02:07:05
6,995267,Cole-Eichmann,GS-86623,Shoes,18,15.28,275.04,0.070,19.25280,2014-04-09 16:15:03
7,524021,Hegmann and Sons,LL-46261,Shoes,7,78.78,551.46,0.070,38.60220,2014-06-18 19:25:10
8,929400,"Senger, Upton and Breitenberg",LW-86841,Shoes,17,38.19,649.23,0.015,9.73845,2014-02-10 05:55:56
9,563905,"Kerluke, Reilly and Bechtelar",KV-99194,Shirt,12,26.98,323.76,0.015,4.85640,2014-05-20 00:21:28
10,995267,Cole-Eichmann,KV-99194,Shirt,19,60.22,1144.18,0.015,17.16270,2014-03-10 06:23:31
11,524021,Hegmann and Sons,QN-82852,Belt,6,13.12,78.72,0.015,1.18080,2013-11-03 18:38:16
12,758133,"Kihn, McClure and Denesik",LL-46261,Shoes,4,59.69,238.76,0.015,3.58140,2014-01-11 21:48:28
13,555594,"Ernser, Cruickshank and Lind",FK-71853,Shirt,12,97.25,1167.00,0.015,17.50500,2014-09-19 13:20:00
14,201259,Koelpin PLC,GS-86623,Shoes,9,81.44,732.96,0.015,10.99440,2014-08-12 08:05:27
15,93356,Waters-Walker,LL-46261,Shoes,18,53.33,959.94,0.015,14.39910,2014-07-15 23:21:11
16,563905,"Kerluke, Reilly and Bechtelar",KV-99194,Shirt,4,35.62,142.48,0.015,2.13720,2014-10-05 23:38:16
17,201259,Koelpin PLC,KV-99194,Shirt,17,98.23,1669.91,0.015,25.04865,2014-01-26 01:52:36
18,758133,"Kihn, McClure and Denesik",WJ-02096,Belt,15,69.52,1042.80,0.015,15.64200,2013-11-13 21:38:46
19,296809,Carroll PLC,VG-32047,Shirt,12,80.12,961.44,0.015,14.42160,2014-05-24 16:03:28
20,750461,"Volkman, Goyette and Lemke",WJ-02096,Belt,13,81.19,1055.47,0.015,15.83205,2014-01-08 02:45:07
21,929400,"Senger, Upton and Breitenberg",LL-46261,Shoes,2,48.15,96.30,0.015,1.44450,2014-04-28 07:01:04
22,563905,"Kerluke, Reilly and Bechtelar",MJ-21460,Shoes,1,54.94,54.94,0.015,0.82410,2014-08-09 11:22:15
23,734922,Berge LLC,QN-82852,Belt,4,57.75,231.00,0.015,3.46500,2013-11-04 09:48:26
24,296809,Carroll PLC,AS-93055,Shirt,14,47.68,667.52,0.015,10.01280,2014-01-12 00:28:09
25,304860,Huel-Haag,QN-82852,Belt,2,41.40,82.80,0.015,1.24200,2014-09-23 02:36:55
26,563905,"Kerluke, Reilly and Bechtelar",VG-32047,Shirt,6,58.52,351.12,0.070,24.57840,2014-03-14 02:28:57
27,750461,"Volkman, Goyette and Lemke",LL-46261,Shoes,12,96.62,1159.44,0.070,81.16080,2013-12-13 03:19:19
28,850140,Kunze Inc,KV-99194,Shirt,12,93.67,1124.04,0.070,78.68280,2014-02-19 06:03:09
29,115138,Gorczany-Hahn,VG-32047,Shirt,12,72.63,871.56,0.070,61.00920,2014-02-07 03:30:14
...,...,...,...,...,...,...,...,...,...,...
970,758133,"Kihn, McClure and Denesik",WJ-02096,Belt,15,51.35,770.25,0.015,11.55375,2014-05-13 12:39:44
971,563905,"Kerluke, Reilly and Bechtelar",GS-86623,Shoes,16,90.96,1455.36,0.015,21.83040,2013-11-02 09:19:40
972,711951,Kilback-Gerlach,LW-86841,Shoes,12,22.81,273.72,0.070,19.16040,2014-09-17 02:46:57
973,93356,Waters-Walker,AS-93055,Shirt,19,28.76,546.44,0.070,38.25080,2013-12-19 19:43:07
974,98022,Heidenreich-Bosco,VG-32047,Shirt,2,35.71,71.42,0.070,4.99940,2014-07-03 03:16:33
975,296809,Carroll PLC,LL-46261,Shoes,9,32.75,294.75,0.070,20.63250,2014-02-08 10:48:21
976,758133,"Kihn, McClure and Denesik",LW-86841,Shoes,2,92.23,184.46,0.070,12.91220,2014-02-18 03:57:38
977,524021,Hegmann and Sons,MJ-21460,Shoes,12,18.24,218.88,0.070,15.32160,2014-05-01 16:46:03
978,305803,"Davis, Kshlerin and Reilly",AS-93055,Shirt,6,49.81,298.86,0.070,20.92020,2013-11-01 16:31:25
979,304860,Huel-Haag,QN-82852,Belt,2,22.38,44.76,0.015,0.67140,2014-01-23 23:47:01
980,929400,"Senger, Upton and Breitenberg",QN-82852,Belt,10,25.65,256.50,0.015,3.84750,2013-12-20 14:10:18
981,299771,"Kuphal, Zieme and Kub",QN-82852,Belt,12,37.50,450.00,0.015,6.75000,2013-12-30 04:04:50
982,115138,Gorczany-Hahn,VG-32047,Shirt,20,72.35,1447.00,0.015,21.70500,2014-08-11 19:02:14
983,758133,"Kihn, McClure and Denesik",LL-46261,Shoes,2,48.21,96.42,0.015,1.44630,2014-09-16 16:12:02
984,711951,Kilback-Gerlach,VG-32047,Shirt,1,91.96,91.96,0.015,1.37940,2013-10-23 15:08:31
985,929400,"Senger, Upton and Breitenberg",GS-86623,Shoes,7,62.27,435.89,0.015,6.53835,2013-12-30 01:55:14
986,93356,Waters-Walker,KV-99194,Shirt,20,99.74,1994.80,0.070,139.63600,2014-04-18 15:39:12
987,98022,Heidenreich-Bosco,QN-82852,Belt,15,82.82,1242.30,0.070,86.96100,2014-03-27 04:42:40
988,734922,Berge LLC,GS-86623,Shoes,8,85.04,680.32,0.070,47.62240,2014-02-26 14:43:51
989,995267,Cole-Eichmann,LW-86841,Shoes,10,73.24,732.40,0.070,51.26800,2014-06-07 10:04:53
990,93356,Waters-Walker,AS-93055,Shirt,9,68.62,617.58,0.070,43.23060,2014-08-12 08:06:21
991,304860,Huel-Haag,QN-82852,Belt,1,57.33,57.33,0.070,4.01310,2014-08-27 11:27:28
992,850140,Kunze Inc,KV-99194,Shirt,9,27.16,244.44,0.070,17.11080,2014-02-08 06:22:34
993,659366,Waelchi-Fahey,LW-86841,Shoes,10,56.56,565.60,0.015,8.48400,2014-10-01 11:38:04
994,296809,Carroll PLC,WJ-02096,Belt,20,14.37,287.40,0.015,4.31100,2014-07-20 17:22:03
995,758133,"Kihn, McClure and Denesik",WJ-02096,Belt,11,60.50,665.50,0.015,9.98250,2014-08-03 10:39:51
996,850140,Kunze Inc,GS-86623,Shoes,16,19.66,314.56,0.015,4.71840,2014-05-03 21:18:15
997,93356,Waters-Walker,GS-86623,Shoes,13,90.95,1182.35,0.015,17.73525,2014-06-14 12:43:51
998,304860,Huel-Haag,LL-46261,Shoes,9,98.22,883.98,0.070,61.87860,2014-07-26 01:10:57
999,98022,Heidenreich-Bosco,LW-86841,Shoes,14,74.83,1047.62,0.070,73.33340,2014-06-27 05:58:33

In [2]:
df_sample

NameError: name 'df_sample' is not defined

In [ ]:
##Question 1

q1 = "Select [account number], [category] from sample_sales where category = 'Shoes' or category = 'Shirt'"
df_sample1 = pd.read_sql(q1, engine)

In [ ]:
df_sample1

In [ ]:
##Q2
q2 = "Select [category], Sum(quantity) from sample_sales group by category order by Sum(quantity) desc limit 1,1  "
df_sample2 = pd.read_sql(q2, engine)

In [ ]:
df_sample2

In [ ]:
##Q 4
q4 = "Select [category], Sum(quantity), Sum([unit price]) from sample_sales group by category order by Sum(quantity) desc limit 1,1 "
df_sample4 = pd.read_sql(q4, engine)

In [ ]:
df_sample4

In [4]:
##Q 3= 
q3 = "Select W1.date from sample_sales as W1 JOIN sample_sales as W2 ON (DATEDIFF(W1.date, W2.date) = 3 and W1.quantity > W2.quantity)  "
df_sample3 = pd.read_sql(q3, engine)

OperationalError: (sqlite3.OperationalError) no such function: DATEDIFF
[SQL: Select W1.date from sample_sales as W1 JOIN sample_sales as W2 ON (DATEDIFF(W1.date, W2.date) = 3 and W1.quantity > W2.quantity)  ]
(Background on this error at: http://sqlalche.me/e/e3q8)

In [46]:
## Check continuing days which shows that there are no three continuous days in the data set
df_sample3

Empty DataFrame
Columns: [DATE('date'), sum(quantity)]
Index: []